@font-face {
  font-family: "MyFont";
  src: url("./iconfont.woff2") format("woff2"),
    url("./iconfont.woff") format("woff"), url("./iconfont.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

.hello {
  width: 100px;
  height: 100px;
  font-family: "MyFont";
  color: red;
  background: url("./1.png");
}
.img {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}
